<section class="benefits">
    <div class="container">
        <h2>Benefits</h2>
        <p class="benefits__subtitle">You will get many features that help you...</p>

        <div class="benefits__content">
            <div class="benefits__grid">

                <div class="benefits__card">
                    <img src="../images/save-money 1.png" alt="Save costs icon" />
                    <h3>Save costs</h3>
                    <p>Save the cost of handling calls and providing free service to your customers</p>
                </div>

                <div class="benefits__card">
                    <img src="../images/improve 1.png" alt="Customer experience icon" />
                    <h3>Improve the <br /> customer experience</h3>
                    <p>Simplify the process for your customers by removing the need to switch between devices and applications</p>
                </div>

                <div class="benefits__card">
                    <img src="../images/integration 2.png" alt="Self-integration icon" />
                    <h3>Self-integration</h3>
                    <p>Khalna Basalasso integrates with your systems in minutes</p>
                </div>
            </div>

            <div class="benefits__video">
                <div class="video-placeholder">
                    <img src="../images/play-button.png" alt="Play video" />
                </div>
            </div>
        </div>
    </div>
</section>
