<section class="contact">
    <div class="contact__container">
        <form class="contact__form">
            <div class="contact__row">
                <input type="text" placeholder="Name" class="contact__input">
                <input type="tel" placeholder="Mobile" class="contact__input">
            </div>
            <input type="email" placeholder="Email" class="contact__input full">
            <textarea placeholder="Message (optional)" class="contact__textarea"></textarea>
            <button type="submit" class="contact__btn">Send</button>
        </form>

        <div class="contact__info">
            <h2>Contact <span>us</span></h2>
            <p>Younisx10@gmail.com<br>+20101182399</p>
            <div class="contact__socials">
                <a class="contact__social" href="#">
                    <img src="../images/icon-linkedin.png" alt="LinkedIn">
                </a>
                <a class="contact__social" href="#">
                    <img src="../images/icon-behance.png" alt="Behance">
                </a>
            </div>

        </div>
    </div>
</section>
