<header class="hero">
    <div class="hero__overlay">
        <div class="container hero__top">

            <div class="hero__left">
                <div class="logo">LOGO</div>
                <div class="hero__lang">
                    <span>En</span>
                    <img src="../images/Vector.png" alt="theme toggle" class="theme-toggle" />
                </div>
            </div>
            <nav class="hero__nav">
                <a href="#">Contact Us</a>
                <a href="#">Frequently asked questions</a>
                <a href="#">Benefits</a>
                <a href="#">Home</a>
            </nav>
        </div>


        <div class="container hero__content">
            <h1>Communicate with your customers with just a click</h1>
            <p>
                We provide an integrated experience to communicate with your customers directly<br>
                And at no cost from anywhere without the need to buy a number in each country
            </p>
            <a href="#" class="btn btn--primary">Talk To An Expert</a>
        </div>

        <!-- call-icon внизу -->
        <div class="hero__call">
            <img src="../images/Component77.png" alt="call icon" />
        </div>
    </div>
</header>

